@use "./abstracts/variables";
@use "./abstracts/functions";
@use "./abstracts/mixins";
@use "./base/reset";
@use "./components/buttons";
@use "./layout/header";
@use "./layout/footer";

/* Body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixins.main-theme(variables.$color-bg-light);

  &.dark {
    @include mixins.main-theme(variables.$color-bg-dark);
  }

  &.menu-open {
    main {
      display: none;
    }
  }

  * {
    transition: all 0.3s ease-in-out;
  }
}
