@use "../abstracts/variables";
@use "../abstracts/mixins";

%btn {
  padding: 1.5rem 4.3rem;
  border-radius: 0.8rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
}

.button {
  @extend %btn;
  @include mixins.btn-theme(variables.$color-btn-bg-light);

  &.dark {
    @include mixins.btn-theme(variables.$color-btn-bg-dark);
  }
}

.button-static {
  @extend %btn;
  @include mixins.btn-theme(variables.$color-btn-bg-light);
}
