@use "../abstracts/variables";

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: variables.$font-size-base;
  font-family: variables.$font-family-base;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

a {
  text-decoration: none;
}